spring:
  profiles:
    active: mysql

---
spring:

  h2:
    console:
      enabled: true

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
  config:
    activate:
      on-profile: h2
  thymeleaf:
    cache: false

---
spring:

  datasource:
    url: jdbc:mysql://localhost:3306/shopping_cart?serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root

  sql:
    init:
      schema-locations: classpath:schema.sql
      mode: always

  config:
    activate:
      on-profile: mysql

  thymeleaf:
    cache: false
