spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
  sql:
    init:
      data-locations:
      schema-locations: classpath:schema.sql
      mode: always
  h2:
    console:
      enabled: true
