<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 페이지</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<header class="gnb">
    <nav>
        <ul class="gnb-group">
            <li><a href="/settings">설정</a></li>
            <li class="nav-admin"><a href="/admin">관리자</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="btn-group">
        <button class="add-btn" onclick="showAddModal()">상품 추가</button>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>이름</th>
            <th>가격</th>
            <th>이미지</th>
            <th>Actions</th>
        </tr>
        <tbody id="product-list">
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img style="max-width: 100px;" th:attr="src=@{|${product.imageUrl}|}">
            </td>
            <td>
                <button th:onclick="showEditModal([[${product}]])">수정</button>
                <button th:onclick="deleteProduct([[${product.id}]])">삭제</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="modal" data-form-type="add" id="modal">
        <div class="modal-content">
            <span class="close" onclick="hideAddModal()">&times;</span>
            <form id="form">
                <label for="name">상품명</label><br>
                <input id="name" name="name" required type="text"><br>

                <label for="price">가격</label><br>
                <input id="price" name="price" required type="number"><br>

                <label for="image-url">이미지 URL</label><br>
                <input id="image-url" name="imageUrl" required type="text"><br>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>
